<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>812176810427-qo3i86a03gcj42j64qkpg0nnolbjk7jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812176810427-qo3i86a03gcj42j64qkpg0nnolbjk7jr</string>
	<key>API_KEY</key>
	<string>AIzaSyDiAjnFmLdmVFqZt93SV-pO06wUAX1hdPg</string>
	<key>GCM_SENDER_ID</key>
	<string>812176810427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sensetrails.bingoloto</string>
	<key>PROJECT_ID</key>
	<string>bingoloto-920e5</string>
	<key>STORAGE_BUCKET</key>
	<string>bingoloto-920e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812176810427:ios:a0181f11179cac47</string>
	<key>DATABASE_URL</key>
	<string>https://bingoloto-920e5.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3021513607149156~5825377218</string>
</dict>
</plist>